<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boopt</title>

    <!-- FAVICON -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- FOLHAS DE ESTILO -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/botoes.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/iconify.css') }}" />
    <!-- FONTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
</head>

<body class="index-body">
    <header class="index-header">
        <img src="{{ url_for('static', filename='assets/boopt/horizontal_azul.svg') }}" alt="Logo Boopt">
        <a href="/login"><button class="btn btn-gradiente">Entrar</button></a>
    </header>
    <main>
        <div class="sales-enablement">
            <h1>A plataforma de Sales Enablement da Sucesso em Vendas</h1>
            <p>A plataforma de Sales Enablement da Sucesso em Vendas</p>
            <button class="btn">UM CTA BEM FODA</button>
        </div>
        <div class="promo">
            <img src="{{ url_for('static', filename='assets/vela/00 - VELA 1.png') }}" alt="Logo Vela Assessment">
            <p>O teste de competências comerciais desenvolvido pela consultoria de vendas que mais gera resultado no
                brasil,
                a Sucesso em Vendas.</p>
            <p>Com o <strong>Vela Assessment</strong>, é possível saber em quais competências o vendedor precisa se
                aprimorar para melhorar seu atendimento e consequentemente seus resultados. Além disso, ele
                tem acesso a conteúdos que vão lhe direcionar a como evoluir.</p>
        </div>
        <div class="map-lista">
            <h2>O que será mapeado:</h2>
            <ul>
                <li><span class="fluent--trophy-48-filled"></span>Quais os pontos de oportunidade entre as 21
                    competências
                    fundamentais de um vendedor de sucesso</li>
                <li><span class="fluent--trophy-48-filled"></span>De acordo com as competências mapeadas, em quais
                    etapas do
                    atendimento o vendedor precisa se desenvolver
                </li>
                <li><span class="fluent--trophy-48-filled"></span>Quais os conteúdos prioritários para que o vendedor
                    evolua
                    nas competências certas para aumentar seus
                    resultados</li>
                <li><span class="fluent--trophy-48-filled"></span>Análises individuais e por equipes</li>
            </ul>
        </div>
        <div class="historia-boopt">
            <img src="{{ url_for('static', filename='assets/boopt/icone_azul.svg') }}" alt="Logo Boopt">
            <div>
                <h2>Como a Boopt surgiu?</h2>
                <p>A <strong>Boopt</strong> foi desenvolvida pela consultoria de vendas <strong>Sucesso em
                        Vendas</strong> como uma maneira de ampliar a entrega e atingir cada vez mais pessoas com as
                    soluções que oferece.</p>
                <p>A Boopt possui <strong>todo o Know-How de mais de 30 anos de mercado</strong> que a Sucesso possui.
                    Disponibiliza as mesmas metodologias desenvolvidas e usada nos clientes de consultoria e já
                    aplicadas em centenas de outras empresas no país, tornando acessível, rápida e prática a entrega
                    para todos</p>
                <a href="/login"><button class="btn btn-gradiente">Fazer login na Boopt</button></a>
            </div>
        </div>
    </main>

    <footer>
        <img src="{{ url_for('static', filename='assets/boopt/horizontal_azul_tag.svg') }}" alt="Logo Boopt">

    </footer>
</body>

</html>