<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boopt</title>

    <!-- FAVICON -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- FOLHAS DE ESTILO -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/iconify.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/input.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/botoes.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/promo.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}" />
    <!-- FONTE MONTESERRAT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- MOSTRAR/ESCONDER SENHA -->
    <script defer>
        function showPassword() {
            let input = document.getElementById("password");
            let eye = document.getElementById("password-eye");
            input.type = input.type === "password" ? "text" : "password";
            eye.className = input.type === "password" ? "fluent--eye-24-filled" : "fluent--eye-off-24-filled";
        };
    </script>
    <!-- HTMX -->
    <script src="{{ url_for('static', filename='scripts/htmx.min.js') }}"></script>

</head>

<body class="index-body">
    <div class="content">

        <div class="promo-sidebar">
        </div>
        <div class="login-container">
            <div class="login-form">
                <h1>LOGIN</h1>
                <form onsubmit="javascript:void(0);" hx-post="/login" hx-target="#login-feedback-container"
                    hx-swap="innerHTML">
                    <div class="user-input">
                        <label for="user-input">CPF OU E-MAIL</label>
                        <input type="text" class="input" id="user-input" name="user">
                    </div>

                    <div class="password-input">
                        <label for="password">SENHA</label>
                        <div class="password-field">
                            <input type="password" id="password" class="input" name="password">
                            <span id="password-eye" class="fluent--eye-24-filled" onclick="showPassword()"></span>
                        </div>
                    </div>

                    <div class="login-options">
                        <div class="remember-container">
                            <input class="input" type="checkbox" name="remember" id="remember">
                            <label for="remember">Lembrar de mim</label>
                        </div>
                        <div class="forgot-password">
                            <a href="#">Esqueceu sua senha?</a>
                        </div>

                    </div>

                    <button class="btn btn-gradiente" type="submit" id="login-btn">Enviar</button>
                </form>

                <div id="login-feedback-container">

                </div>
                <div class="primeiro-acesso">
                    <p>Primeiro acesso?</p>
                    <p>Por padrão, sua senha é a sua data de nascimento no formato DDMMAAAA (exemplo: 22032024). Não se
                        esqueça de trocar uma mais segura depois.</p>
                </div>

            </div>
        </div>


    </div>
</body>

</html>