#app {
    position: relative;
    justify-content: center;
    min-height: 100%;
    bottom: 0;
    background-color: var(--off-white);
}

#wrapper {
    width: 100%;
    height: 100dvh;
    height: 100dvh;
    position: inherit;
    left: 0px;
    transition: left 100ms ease-in;
}

div:has(>#_pages_content) {
    width: 100%;
    min-height: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
}

#_pages_content {
    position: relative;
    width: 100%;
    min-height: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.center-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

#burger-header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    height: var(--burger-header-height);
    padding: 0.5rem;
    z-index: 1000;
    background-color: color-mix(in srgb, var(--off-white), transparent 30%);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 9px;
    transition: left 100ms ease-in;
}

#burger-header>button {
    position: absolute;
}

#burger-header>a {
    height: 100%;
    display: inline-flex;
    display: -webkit-inline-flex;
    margin-left: auto;
    margin-right: auto;
}

#burger-header img {
    align-self: flex-start;
    height: 100%;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    #app {
        padding-left: 0px;
        left: 0px;
    }

    #_pages_content {
        padding-top: calc(var(--burger-header-height) + 2rem);
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }

    body:has(#navbar[visible=true]) #burger-header {
        left: var(--navbar-width)
    }

    body:has(#navbar[visible=true]) #wrapper {
        left: var(--navbar-width)
    }
}

@media only screen and (min-width: 1000px) {
    #wrapper {
        padding-left: calc(var(--navbar-width));
    }

    #_pages_content {
        padding: 2rem 50px;
    }

    #burger-header {
        display: none;
    }

}