.container-upload {
    background-color: #fff;
    border-style: solid;
    border-color: var(--cinza-claro);
    border-width: 1px;
    border-radius: var(--border-radius);
    padding: 1rem;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-upload a {
    cursor: pointer;
    text-decoration: underline;
    color: var(--azul-sv);
}

.container-upload.upload-ativo {
    border-color: rgb(102, 204, 102);
    border-style: solid;
    background-color: rgba(102, 204, 102, 0.2);
}

.container-upload.upload-negado {
    border-color: rgb(204, 102, 102);
    border-style: solid;
    background-color: rgba(204, 102, 102, 0.2);
}

.container-upload p {
    margin: 0;
}

#usr-massa-arquivo {
    font-weight: 600;
}