button {
    border-radius: 9px !important;
}

.btn {
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    line-height: 34px;
    cursor: pointer;
    background-size: 100%;
    transition: background-size 300ms ease 0s;
}

.btn:hover {
    background-size: 200%;
}

.btn:active {
    transform: translateY(1px);
}

.btn-gradiente {
    background-image: linear-gradient(90deg, var(--azul-sv), var(--laranja-boopt));
    color: #fff;
    border: none;
}

.btn-azul {
    background-color: var(--azul-sv);
    color: #fff;
    border: none;
}

.btn-laranja {
    background-color: var(--laranja-boopt);
    color: #fff;
    border: none;
}

.btn-cinza {
    background-color: #999999;
    color: #fff;
    border: none;
}

.btn-preto {
    background-color: var(--preto-sv);
    color: #fff;
    border: none;
}

.btn-link {
    background: none;
    color: var(--azul-sv);
    padding: 0;
}

.btn-link:hover {
    text-decoration: underline;
    background: none;
}

.mantine-Button-label {
    font-weight: 500;
}