#navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0px;
    height: 100dvh;
    left: 0px;
    background-color: #fff;
    border-radius: 0 2rem 0 0;
    box-shadow: 3px 4px 17.4px 9px rgba(0, 0, 0, 0.05);
    padding: 2rem 1rem;
    transition: transform 100ms ease-in;
    width: var(--navbar-width);

}

#navbar img {
    width: auto;
    height: 70px;
    margin-bottom: 2rem;
}

#navbar #menu-usr {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#navbar .avatar {
    padding: 0.7rem;
    background-color: var(--azul-sv);
    color: #fff;
    text-align: center;
    border-radius: 9px;
    font-size: 20px;
    font-weight: 700;
}

#navbar div:has(>.nome-usr-navbar) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#navbar .nome-usr-navbar {
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
    color: #000;
}

#navbar .cargo-usr-navbar {
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

#navbar .mantine-Divider-root {
    margin-top: auto;
}

#navbar .mantine-NavLink-root {
    border-radius: 9px;
    margin-bottom: 0.5rem;
}

#navbar .mantine-NavLink-root[data-active=true] .avatar {
    background-color: var(--off-white);
    color: var(--azul-sv);
}

#navbar .mantine-NavLink-root[data-active=true],
#navbar .mantine-NavLink-root[data-active=true] * {
    background-color: var(--azul-sv);
    color: #fff;
}

#navbar .mantine-NavLink-root:not([data-active=true]):hover {
    background-color: rgba(0, 0, 0, 0.07);
}

#navbar .mantine-NavLink-label {
    font-weight: 500;
}

@media only screen and (max-width: 1000px) {
    #navbar {
        transform: translateX(-100%);
        z-index: 10000;
    }

    body:has(#navbar[visible=true]) {
        overflow: hidden;
    }

    body:has(#navbar[visible=true]) #navbar {
        transform: translateX(0);
    }
}