.mantine-Notification-root {
    background-color: var(--preto-sv);
    border-radius: 10px;
    border: none;
}

.mantine-Notification-title {
    color: #fff;
}

.mantine-Notification-root::before {
    top: 5px;
    bottom: 5px;
}