table {
    border-collapse: separate !important;
    border-spacing: 0 !important;
    border-radius: 10px !important;
    background-color: #fff;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

table tr td:last-child,
th:last-child {
    border-left: none !important;
}