.index-body {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 0;
    padding-top: 0;
}

.index-body p,
.index-body strong {
    line-height: 1.5;
}

.index-body header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(40px);
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.25) inset;
    z-index: 10000;
    padding: 1rem 3rem;
}

.index-body header img {
    height: 100%;
}

.index-body main {
    padding-top: 120px;
}

.index-body div.sales-enablement {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-body div.sales-enablement h1 {
    font-size: 56px;
    font-weight: 800;
    background: linear-gradient(30deg, var(--azul-sv) 20%, var(--laranja-boopt) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    text-align: center;
}

.index-body div.sales-enablement p {
    font-size: 20px;
    font-weight: 500;
}

.index-body div.sales-enablement button.btn {
    font-size: 20px;
    font-weight: 600;
    padding: 1rem 4rem;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.25);
    background:
        linear-gradient(90deg, var(--off-white) 0%, var(--off-white) 100%) padding-box,
        linear-gradient(90deg, var(--azul-sv) 0%, var(--laranja-boopt) 100%) border-box;
    border: 2px solid transparent;
    transform: scale(1);
    transition: transform 150ms ease;
}

.index-body div.sales-enablement button.btn:hover {
    transform: scale(1.1);
}

.index-body div.promo {
    margin-top: 4rem;
    height: 550px;
    padding: 5rem 3rem;
    background-color: var(--azul-sv);
    background:
        url('../imgs/laptop_screen_mockup_15\ 1.png') no-repeat bottom right/auto 70%,
        linear-gradient(var(--off-white), var(--off-white)) padding-box,
        linear-gradient(147deg, var(--laranja-boopt), var(--azul-sv)) border-box;
    border-radius: 30px;
    border: 4px solid transparent;
}

.index-body div.promo p,
.index-body div.promo h1 {
    width: 50%;
}

.index-body div.promo h1 {
    font-size: 64px;
}

.index-body div.promo p,
.index-body div.promo strong {
    font-size: 20px;
    line-height: 1.7;
}

.index-body div.map-lista {
    display: flex;
    flex-direction: column;
}

.index-body h2 {
    color: var(--azul-sv);
    font-size: 26px;
    font-weight: 600;
}

.index-body div.map-lista h2 {
    text-align: center;
}

.index-body div.map-lista ul {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
}

.index-body div.map-lista ul li {
    padding: 2rem;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #fff;
    background: linear-gradient(270deg, var(--azul-sv), var(--laranja-boopt)) no-repeat fixed border-box;
    border-radius: 20px;
    box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.1);
}

.index-body div.map-lista ul li span {
    width: 80px;
    height: 80px;
    color: #fff;
    margin: 2rem 0;
}

.index-body div.historia-boopt {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
    border-radius: 50px;
    padding: 1rem 4rem;
}

.index-body div.historia-boopt img {
    width: 170px;
    align-self: center;
    justify-self: center;
}


.index-body footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.index-body footer img {
    height: 50px;
}