input,
.mantine-PasswordInput-input,
.mantine-TextInput-input,
.mantine-Select-input {
    border-radius: 40px !important;
    font-size: 16px;
}

input.input {
    line-height: 34px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #fff;
    border: 1px solid rgb(206, 212, 218);
    transition: border-color 100ms ease 0s, background-color 100ms ease 0s;
}

input[type="text"].input,
input[type="password"].input {
    min-height: 36px;
}

input[type="checkbox"].input {
    width: 20px;
    height: 20px;
    clip-path: circle(50% at 50% 50%);
    appearance: none;
    border-radius: 16px;
    padding: 0px;
}

input[type="checkbox"].input:checked {
    background-color: var(--azul-sv);
    border-color: var(--azul-sv);
    color: white;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%23FFF' d='M9.765 3.205a.75.75 0 0 1 .03 1.06l-4.25 4.5a.75.75 0 0 1-1.075.015L2.22 6.53a.75.75 0 0 1 1.06-1.06l1.705 1.704l3.72-3.939a.75.75 0 0 1 1.06-.03'/%3E%3C/svg%3E");
}


input.input:focus {
    border-color: var(--azul-sv);
    outline: none;
}

input[disabled],
textarea[disabled] {
    color: var(--preto-sv) !important;
}

input::invalid {
    outline: none !important;
}