.content {
    display: flex;
    flex-direction: row;
    top: 0;
    bottom: 0;
    position: absolute;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex: 1;
    width: 100%;
    text-align: center;
}

.login-container {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 400px;
}

.user-input,
.password-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

}

.user-input input,
.password-input input {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
}

.user-input label,
.password-input label {
    font-size: 26px;
    font-weight: 300;
}

.login-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.password-field {
    width: 100%;
}

#password-eye {
    float: right;
    right: -10px;
    top: -30px;
    position: relative;
}

.remember-container {
    display: flex;
    align-items: center;
}

.forgot-password a {
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}