.content {
    display: flex;
    flex-direction: row;
    top: 0;
    bottom: 0;
    position: absolute;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex: 1;
    width: 100%;
    text-align: center;
}

.login-container {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 400px;
}

.login-form h1 {
    font-size: 40px;
    font-weight: 500;
    text-align: start;
}

.user-input,
.password-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 1rem;
}

.user-input input,
.password-input input {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
}

.user-input label,
.password-input label {
    font-size: 26px;
    font-weight: 300;
}

.login-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.password-field {
    width: 100%;
}

#password-eye {
    float: right;
    right: -10px;
    top: -30px;
    position: relative;
}

.remember-container {
    display: flex;
    align-items: center;
}

.forgot-password a {
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.primeiro-acesso {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.primeiro-acesso p:first-child {
    color: var(--azul-sv);
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    margin-top: 1rem;
}

.primeiro-acesso p:last-child {
    color: #5c5c5c;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
}

div#login-feedback {
    background-color: #FFE9DE;
    border-radius: 10px;
    padding: 1rem;
    text-align: start;
    font-size: 15px;
    font-weight: 300;
    margin-top: 1rem;
    border: 1px solid var(--laranja-boopt);
}

div#login-feedback p {
    margin: 0;
}

div#login-feedback h1 {
    font-size: 15px;
    font-weight: 600;
    color: var(--laranja-boopt);
    margin: 0;
}