.content {
    display: flex;
    flex-direction: row;
    top: 0;
    bottom: 0;
    position: absolute;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex: 1;
    width: 100%;
    text-align: center;
}

body.login-body {
    background-color: var(--off-white) !important;
    height: 100vh;
    margin: 0px;
    background-image: url("../imgs/boopt/icone_branco.svg");
    background-repeat: no-repeat;
    background-position: bottom -150px right -150px;
    background-size: 500px;
}

.login-container {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.login-form {
    max-width: 400px;
}

.login-form h1 {
    font-size: 30px;
    font-weight: 500;
    text-align: start;
}

.user-input,
.password-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 1rem;
}

.user-input label,
.password-input label {
    font-size: 14px;
    font-weight: 300;
}

.user-input input,
.password-input input {
    font-weight: 500;
    width: 100%;
    padding-left: 34px;
    box-sizing: border-box;
}

.password-field,
.user-field {
    width: 100%;
    position: relative;
}

#password-eye {
    right: 20px;
    height: 20px;
    cursor: pointer;
}

#password-eye:active {
    top: 1px;
}

.fluent--lock-closed-24-filled,
.fluent--person-24-filled {
    left: 0;
    height: 20px;
}

.login-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.login-options * {
    font-size: 14px;
}

.remember-container {
    display: flex;
    align-items: center;
}

.forgot-password {
    align-self: center;
}

.forgot-password a {
    text-decoration: none;
    right: -18px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.login-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.login-options * {
    font-size: 14px;
}

.primeiro-acesso p {
    font-size: 14px;
    margin: 0;
}

.primeiro-acesso {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.primeiro-acesso p:first-child {
    color: var(--azul-sv);
    font-weight: 600;
    margin-top: 1rem;
}

.primeiro-acesso p:last-child {
    color: #5c5c5c;
    font-weight: 300;
}

div#login-feedback {
    background-color: #FFE9DE;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    text-align: start;
    font-size: 15px;
    font-weight: 300;
    margin-top: 1rem;
    border: 1px solid var(--laranja-boopt);
}

div#login-feedback * {
    font-size: 14px;
    margin: 0;
}

div#login-feedback h1 {
    font-weight: 600;
    color: var(--laranja-boopt);
}