#navbar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: transparent;
    border: none;
    background-color: var(--azul-sv);
    background-image:
        /* url("../imgs/boopt/icone_laranja.svg"), */
        linear-gradient(0deg, var(--laranja-boopt) 0%, rgba(217, 217, 217, 0) 75%);
    background-repeat:
        /* no-repeat, */
        no-repeat;
    background-position:
        /* bottom -350px center, */
        top;
    background-size:
        /* auto 0, */
        100%;
    padding: 5rem 70px 1rem 1rem;
    z-index: -1;
}

#navbar .nome-usr-navbar {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
}

#navbar .cargo-usr-navbar {
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
}

#navbar .links-nav {
    margin-top: 2rem;
}

#navbar *:not(.mantine-Menu-dropdown *, .mantine-NavLink-root, .mantine-NavLink-root *) {
    color: #fff;
}

#navbar img {
    bottom: 1rem;
    position: absolute;
    transform: translateX(-50%);
    left: calc(50% - 25px);
    height: 50px;
}

#navbar .mantine-Menu-itemLabel>div {
    font-size: 14px;
}

#navbar .mantine-NavLink-root {
    border-radius: 0 30px 30px 0;
    margin-left: -1rem;
    padding-left: 1rem;
    margin-top: 0.25rem;
}

#navbar .mantine-NavLink-root:not([data-active=true]) * {
    color: #cecece;
}

#navbar .mantine-NavLink-root[data-active=true] {
    background-color: #f3f3f3;
}

#navbar .mantine-NavLink-root:not([data-active=true]):hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#navbar .mantine-NavLink-label {
    font-weight: 700;
}

#navbar .mantine-NavLink-root:last-of-type {
    margin-top: 2rem;
}


#navbar::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 30px;
    top: 0;
    bottom: 0;
    background-color: var(--cinza-bg);
    border-radius: 30px 0 0 0;
    box-shadow: -20px 0px 20px -10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1000px) {
    #navbar {
        width: 0px;
        display: none;
        border-radius: 0 50px 50px 0;
    }

    #hamburger-btn {
        width: 40px;
        height: 40px;
        position: absolute;
        background-color: red;
        z-index: 10000;
    }
}

@media only screen and (min-width: 1000px) {
    #navbar {
        width: var(--navbar-width);
        display: block;
    }
}