#navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: transparent;
    border: none;
    background-color: var(--off-white);
    background-image:
        url('../imgs/boopt/logo_borda_gradiente.svg');
    background-repeat:
        no-repeat;
    background-position:
        bottom left;
    background-size:
        150%;
    padding: 3rem 70px 1rem 1rem;
    z-index: -1;
    transition: visibility 0s, opacity 100ms linear;
}

#navbar #menu-usr {
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 1rem;
}

#navbar img {
    width: auto;
    height: 50px;
    margin-bottom: 2rem;
}

#navbar .nome-usr-navbar {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
}

#navbar .cargo-usr-navbar {
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
}

#navbar .mantine-NavLink-root:nth-last-of-type(2) {
    margin-top: auto;
}

#navbar .mantine-NavLink-root {
    border-radius: 0 30px 30px 0;
    margin-left: -1rem;
    padding-left: 1rem;
    margin-top: 0.25rem;
}

#navbar .mantine-NavLink-root:not([data-active=true]) * {
    color: #484848;
}

#navbar .mantine-NavLink-root[data-active=true] {
    background-color: var(--azul-sv);
    color: #f3f3f3;
}

#navbar .mantine-NavLink-root:not([data-active=true]):hover {
    background-color: rgba(255, 255, 255, 0.9);
}

#navbar .mantine-NavLink-label {
    font-weight: 700;
}


#burger-header {
    top: 0px;
    left: 0px;
    right: 0px;
    height: calc(var(--burger-header-height) + 15px);
    display: block;
    position: fixed;
    background-color: var(--azul-sv);
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 1rem 0 1rem;
}

@media only screen and (max-width: 1000px) {
    #navbar {
        width: 300px;
        /* display: none; */
        border-radius: 0 50px 50px 0;
        z-index: 10000000000;
        visibility: hidden;
        opacity: 0;
        border: 1px solid black;
    }
}

@media only screen and (min-width: 1000px) {
    #navbar {
        width: var(--navbar-width);
        visibility: visible;
        opacity: 1;
    }

    #burger-header {
        display: none;
    }
}