:root {
    --azul-sv: #1618ff;
    --laranja-boopt: #FF7730;
    --roxo-boopt: #88469B;
    --preto-sv: #171C24;
    --input-bg: #fff;
    --off-white: #f3f3f3;
    --max-size: 1200px;
    --navbar-width: 300px;
    --burger-header-height: 50px;
}

@media only screen and (max-width: 1000px) {
    * {
        font-size: 16px;
    }

    input {
        font-size: 16px !important;
    }
}

@media only screen and (min-width: 1000px) {
    * {
        font-size: 14px;
    }
}

* {
    -webkit-font-smoothing: antialiased !important;
}

*:not(.ag-icon, .ag-checkbox-input-wrapper) {
    font-family: Montserrat, Avenir, Corbel, 'URW Gothic', source-sans-pro, sans-serif !important
}

body {
    background-color: var(--off-white);
}

body:not(.index-body) {
    display: flex;
    flex-direction: column;
    background-color: #fff !important;
}

a {
    color: var(--azul-sv);
}

h1.titulo-pagina {
    font-weight: 600;
    margin-bottom: 2rem;
}

h1.secao-pagina {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

p.bold {
    font-weight: 700;
}

p.light {
    font-weight: 300;
}

p.c-azul {
    color: var(--azul-sv);
}

p.c-laranja {
    color: var(--laranja-boopt);
}

.mantine-Divider-root {
    margin: 1rem 0 1rem 0;
}

.mantine-Grid-root {
    margin: 0;
}