:root {
    --azul-sv: #1618ff;
    --laranja-boopt: #FF7730;
    --roxo-boopt: #88469B;
    --preto-sv: #171C24;
    --input-bg: #fff;
    --off-white: #f3f3f3;
    --max-size: 1200px;
    --navbar-width: 300px;
    --burger-header-height: 50px;
}

* {
    -webkit-font-smoothing: antialiased !important;
    font-size: 16px;
}

*:not(.ag-icon, .ag-checkbox-input-wrapper) {
    font-family: Montserrat, Avenir, Corbel, 'URW Gothic', source-sans-pro, sans-serif !important
}

body {
    background-color: var(--off-white);
}

body:not(.index-body) {
    display: flex;
    flex-direction: column;
    background-color: #fff !important;
}

a {
    color: var(--azul-sv);
}

h1.titulo-pagina {
    font-weight: 600;
    margin-bottom: 2rem;
}

h1.secao-pagina {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

p.bold {
    font-weight: 700;
}

p.light {
    font-weight: 300;
}

p.c-azul {
    color: var(--azul-sv);
}

p.c-laranja {
    color: var(--laranja-boopt);
}

.mantine-Divider-root {
    margin: 1rem 0 1rem 0;
}

.mantine-Grid-root {
    margin: 0;
}

div.grid {
    display: grid;
    column-gap: 2rem;
    row-gap: .5rem;
    margin-bottom: 1rem;
    align-items: end;
}

@media only screen and (min-width: 567px) {
    div.grid.grid-2-col {
        grid-template-columns: repeat(2, 1fr);
    }

    div.grid.grid-3-col {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 567px) {
    div.grid {
        grid-template-columns: repeat(1, 1fr);

    }
}