:root {
    --azul-sv: #1618ff;
    --laranja-boopt: #FF7730;
    --input-bg: #fff;
}

html {
    min-height: 100vh;
}

body {
    min-height: calc(100vh - 40px) !important;
    background-color: #f3f3f3 !important;
    background-image: url("../imgs/boopt/icone_branco.svg");
    background-repeat: no-repeat;
    background-position: bottom -150px right -150px;
    background-size: 500px;
}

#page-container {
    margin-top: 40px;
    padding-top: 1rem;
}

#group-btn-header {
    gap: 0 !important;
}

#group-btn-header a button {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#group-btn-header div button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}


@media only screen and (max-width: 767px) {
    .mantine-Container-root {
        padding: 0 !important;
        margin: 0 !important;
    }

    .mantine-Paper-root {
        box-shadow: none !important;
        border: none !important;
    }
}

input::invalid {
    outline: none !important;
}

#usr-massa-download-template .mantine-Button-label:hover {
    text-decoration: underline;
}