#text-frase {
    font-weight: 500;
    font-size: 26px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 80%;
}

div.teste-assessment {
    justify-content: space-between !important;
}


.label-teste {
    font-size: 18px;
    font-weight: 500;
}

p.label-teste:first-child {
    color: var(--laranja-boopt);
}

p.label-teste:last-child {
    color: var(--azul-sv);
}

.radio-notas-frase {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.radio-notas-frase label input {
    appearance: none;
    background-color: var(--off-white);
    border-radius: 50px !important;
    border-width: 2px;
    border-style: solid;
}

.radio-notas-frase label input::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50px !important;
    transform: scale(0);
    left: 50%;
    top: 50%;
    transition: transform 100ms ease-in;
}

.radio-notas-frase label input:checked::after {
    transform: scale(0.8);
}


.radio-notas-frase label:nth-child(1),
.radio-notas-frase label:nth-child(5),
.radio-notas-frase label:nth-child(1) input,
.radio-notas-frase label:nth-child(5) input {
    width: 70px;
    height: 70px;
}

.radio-notas-frase label:nth-child(2),
.radio-notas-frase label:nth-child(4),
.radio-notas-frase label:nth-child(2) input,
.radio-notas-frase label:nth-child(4) input {
    width: 40px;
    height: 40px;
}

.radio-notas-frase label:nth-child(3),
.radio-notas-frase label:nth-child(3) input {
    width: 30px;
    height: 30px;
}

.radio-notas-frase label:nth-child(1) input,
.radio-notas-frase label:nth-child(2) input {
    border-color: var(--laranja-boopt);
}

.radio-notas-frase label:nth-child(4) input,
.radio-notas-frase label:nth-child(5) input {
    border-color: var(--azul-sv);
}

.radio-notas-frase label:nth-child(3) input {
    border-color: #5c5c5c;
}

.radio-notas-frase label:nth-child(1) input::after,
.radio-notas-frase label:nth-child(2) input::after {
    background-color: var(--laranja-boopt);
}

.radio-notas-frase label:nth-child(4) input::after,
.radio-notas-frase label:nth-child(5) input::after {
    background-color: var(--azul-sv);
}

.radio-notas-frase label:nth-child(3) input::after {
    background-color: #5c5c5c;
}