#text-frase-vela {
    font-weight: 500;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 80%;
}

div.test-vela {
    justify-content: space-between !important;
}


.label-teste {
    width: 50%;
    font-size: 18px;
    font-weight: 500;
}

.labels-teste {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
}

p.label-teste:first-child {
    color: var(--laranja-boopt);
    text-align: left;
}

p.label-teste:last-child {
    color: var(--azul-sv);
    text-align: right;
}

.radio-score-vela {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.radio-score-vela label input {
    appearance: none;
    background-color: var(--off-white);
    border-radius: 50px !important;
    border-width: 2px;
    border-style: solid;
}

.radio-score-vela label input::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50px !important;
    transform: scale(0);
    left: 50%;
    top: 50%;
    transition: transform 100ms ease-in;
}

.radio-score-vela label input:checked::after {
    transform: scale(0.8);
}


.radio-score-vela label:nth-child(1),
.radio-score-vela label:nth-child(5),
.radio-score-vela label:nth-child(1) input,
.radio-score-vela label:nth-child(5) input {
    width: 70px;
    height: 70px;
}

.radio-score-vela label:nth-child(2),
.radio-score-vela label:nth-child(4),
.radio-score-vela label:nth-child(2) input,
.radio-score-vela label:nth-child(4) input {
    width: 40px;
    height: 40px;
}

.radio-score-vela label:nth-child(3),
.radio-score-vela label:nth-child(3) input {
    width: 30px;
    height: 30px;
}

.radio-score-vela label:nth-child(1) input,
.radio-score-vela label:nth-child(2) input {
    border-color: var(--laranja-boopt);
}

.radio-score-vela label:nth-child(4) input,
.radio-score-vela label:nth-child(5) input {
    border-color: var(--azul-sv);
}

.radio-score-vela label:nth-child(3) input {
    border-color: #5c5c5c;
}

.radio-score-vela label:nth-child(1) input::after,
.radio-score-vela label:nth-child(2) input::after {
    background-color: var(--laranja-boopt);
}

.radio-score-vela label:nth-child(4) input::after,
.radio-score-vela label:nth-child(5) input::after {
    background-color: var(--azul-sv);
}

.radio-score-vela label:nth-child(3) input::after {
    background-color: #5c5c5c;
}

@media only screen and (max-width: 1000px) {
    #text-frase-vela {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1000px) {
    #text-frase-vela {
        font-size: 28px;
    }
}