.radio-notas-frase {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.radio-notas-frase label input {
    appearance: none;
    background-color: #fff;
    border-radius: 40px !important;
    border-width: 2px;
    border-style: solid;
    transition: background-color 100ms ease-in 0s;
}

.radio-notas-frase label input::after {
    content: "";
    display: block;
    background-color: #fff;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    border-radius: 40px !important;
    position: relative;
    transform: translateY(-50%) translateX(-50%) scale(1);
    left: 50%;
    top: 50%;
    transition: transform 100ms ease-in 0s;
}

.radio-notas-frase label input:checked::after {
    transform: translateY(-50%) translateX(-50%) scale(0.5);
}

.radio-notas-frase label:nth-child(1) input,
.radio-notas-frase label:nth-child(5) input {
    width: 50px;
    height: 50px;
}

.radio-notas-frase label:nth-child(2) input,
.radio-notas-frase label:nth-child(4) input {
    width: 30px;
    height: 30px;
}

.radio-notas-frase label:nth-child(3) input {
    width: 20px;
    height: 20px;
}

.radio-notas-frase label:nth-child(1) input,
.radio-notas-frase label:nth-child(2) input {
    border-color: var(--laranja-boopt);
    background-color: var(--laranja-boopt);
}

.radio-notas-frase label:nth-child(4) input,
.radio-notas-frase label:nth-child(5) input {
    border-color: var(--azul-sv);
    background-color: var(--azul-sv);
}

.radio-notas-frase label:nth-child(3) input {
    border-color: #5c5c5c;
    background-color: #5c5c5c;
}