#btn-salvar-usr,
#btn-criar-usr {
    margin-right: 0.5rem;
    width: 150px;
}

#btn-excluir-usr {
    width: 150px;
}

.mantine-Alert-root.alert-erros p,
.mantine-Alert-root.alert-erros strong {
    margin: 0;
    font-size: 14px;
}