.vela-report {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vela-report .potencial {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.vela-report .rosca {
    position: relative;
}

.vela-report .rosca img {
    position: absolute;
    height: 60px;
    top: 50px;
    left: 50px;
}

/* .vela-report .rosca .dash-graph .pielayer .slice:first-child .surface {
    mask: linear-gradient(45deg, transparent -100%, var(--laranja-vela) 100%);
    -webkit-mask: linear-gradient(45deg, transparent -100%, var(--laranja-vela) 100%);

} */

.vela-report .potencial * {
    font-weight: 700;
}

.vela-report .potencial .nota-pct {
    font-size: 40px;

}